<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a th:href="@{/blog}">Back To Blog</a></h3>
<h1>Do you want to delete it?</h1>
<th:block th:if="${message}">
    <h3 th:text="${message}"></h3>
</th:block>
<form onsubmit="return confirm('ban co chac muon xoa')" th:action="@{/delete-blog}" th:object="${blog}" method="post">
    <table border="1">
        <input th:type="hidden" name="id" th:field="*{id}">
        <tr>
            <th>Title</th>
          <td th:text="${blog.title}"></td>
        </tr>
        <tr>
            <th>Content</th>
            <th><textarea th:text="${blog.content}"> </textarea></th>
        </tr>
        <th><input type="submit" value="Delete"></th>
    </table>
</form>
</body>
</html>